<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <!-- robot name parameter -->
  <xacro:arg name="name" default="ur"/>
  <!-- import main macro -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <xacro:include filename="$(find ur_simulation_gz)/urdf/ur_gz.ros2_control.xacro" />

  <!-- possible 'ur_type' values: ur3, ur3e, ur5, ur5e, ur7e, ur10, ur10e, ur12e, ur16e, ur8long, ur15, ur18, ur20, ur30 -->
  <!-- the default value should raise an error in case this was called without defining the type -->
  <xacro:arg name="ur_type" default="ur5x"/>

  <!-- parameters -->
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>

  <xacro:arg name="simulation_controllers" default="" />
  <xacro:arg name="ros_namespace" default="" />
  <!-- Set true to attach Robotiq 2F-85 (PickNik robotiq_description) and expose gripper joint in gz_ros2_control -->
  <xacro:arg name="use_robotiq_gripper" default="false" />
  <!-- When true, spawn Gazebo rgbd_camera on camera_link (multi-UR: only selected namespaces). -->
  <xacro:arg name="camera_gz_enabled" default="false" />
  <!-- Base pose in world (must match profile spawn_*; Gazebo create uses 0,0,0 so TF matches sim). -->
  <xacro:arg name="spawn_x" default="0.0" />
  <xacro:arg name="spawn_y" default="0.0" />
  <xacro:arg name="spawn_z" default="0.0" />
  <xacro:arg name="spawn_yaw" default="0.0" />

  <xacro:property name="use_rq_gripper" value="$(arg use_robotiq_gripper)" />
  <xacro:property name="cam_gz_enabled" value="$(arg camera_gz_enabled)" />

  <xacro:include filename="$(find ur_simulation_gz)/urdf/ur_camera_macro.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <link name="ground_plane">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="5 5 0"/>
      </geometry>
      <material name="ground_white">
        <color rgba="1 1 1 0.5"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="5 5 0"/>
      </geometry>
    </collision>
  </link>

  <joint name="ground_plane_joint" type="fixed">
    <origin xyz="0 0 -0.01" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="ground_plane"/>
  </joint>

  <!-- arm -->
  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    force_abs_paths="true"
    >
    <origin xyz="$(arg spawn_x) $(arg spawn_y) $(arg spawn_z)" rpy="0 0 $(arg spawn_yaw)" />
  </xacro:ur_robot>

  <xacro:if value="${use_rq_gripper == True or use_rq_gripper == 'true'}">
    <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro" />
    <!-- Gazebo: two rigid jaws + one mimic (see robotiq_2f_85_simple_parallel.urdf.xacro). -->
    <xacro:include filename="$(find ur_simulation_gz)/urdf/robotiq_2f_85_simple_parallel.urdf.xacro" />
    <xacro:ur_to_robotiq
      prefix="$(arg tf_prefix)"
      parent="$(arg tf_prefix)tool0"
      child="$(arg tf_prefix)robotiq_coupler_link"
    />
    <xacro:robotiq_gripper
      name="$(arg name)"
      prefix="$(arg tf_prefix)"
      parent="$(arg tf_prefix)robotiq_coupler_link"
      include_ros2_control="false"
      sim_gazebo="false"
      use_fake_hardware="false"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:robotiq_gripper>
  </xacro:if>

  <!-- Wrist RGB-D: entire camera_link + Gazebo sensor only when camera_gz_enabled:=true (see multi_ur camera_gz_robots). -->
  <xacro:if value="${cam_gz_enabled == True or cam_gz_enabled == 'true'}">
    <xacro:ur_wrist_rgb_camera
      tf_prefix="$(arg tf_prefix)"
      parent_link="$(arg tf_prefix)tool0"
      camera_gz_enabled="$(arg camera_gz_enabled)"
    />
  </xacro:if>

  <gazebo reference="world">
  </gazebo>
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg simulation_controllers)</parameters>
      <ros>
        <namespace>$(arg ros_namespace)</namespace>
      </ros>
    </plugin>
  </gazebo>

  <!-- ros2 control instance -->
  <xacro:ur_ros2_control
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    use_robotiq_gripper="$(arg use_robotiq_gripper)"
  />
</robot>
