<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <!--
    UR robot with Robotiq 2F-85 gripper for Gazebo simulation.
    Uses robotiq_description package with UR adapter.
  -->
  <xacro:arg name="name" default="ur"/>
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
  <xacro:include filename="$(find ur_simulation_gz)/urdf/ur_gz.ros2_control.xacro"/>

  <xacro:arg name="ur_type" default="ur5x"/>
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="simulation_controllers" default="" />
  <xacro:arg name="ros_namespace" default="" />
  <xacro:arg name="base_xyz" default="0 0 0" />

  <link name="world" />

  <link name="ground_plane">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="5 5 0"/>
      </geometry>
      <material name="ground_white">
        <color rgba="1 1 1 0.5"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="5 5 0"/>
      </geometry>
    </collision>
  </link>

  <joint name="ground_plane_joint" type="fixed">
    <origin xyz="0 0 -0.01" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="ground_plane"/>
  </joint>

  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    force_abs_paths="true"
    >
    <origin xyz="$(arg base_xyz)" rpy="0 0 0" />
  </xacro:ur_robot>

  <!-- UR to Robotiq adapter (tool0 -> gripper_mount_link) -->
  <xacro:ur_to_robotiq prefix="$(arg tf_prefix)" connected_to="$(arg tf_prefix)tool0" />

  <!-- Robotiq 2F-85 gripper (no ros2_control - we add joint to main gz system) -->
  <xacro:robotiq_gripper
    name="RobotiqGripper"
    prefix="$(arg tf_prefix)"
    parent="$(arg tf_prefix)gripper_mount_link"
    include_ros2_control="false"
    use_fake_hardware="true">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:robotiq_gripper>

  <!-- High damping on Robotiq joints to prevent self-oscillation in simulation. -->
  <gazebo reference="$(arg tf_prefix)robotiq_85_left_knuckle_joint">
    <dynamics damping="2.0" friction="0.1"/>
  </gazebo>
  <gazebo reference="$(arg tf_prefix)robotiq_85_right_knuckle_joint">
    <dynamics damping="2.0" friction="0.1"/>
  </gazebo>

  <!-- Like Piper: selfCollide false on gripper finger links (no explicit mu1/mu2). -->
  <gazebo reference="$(arg tf_prefix)robotiq_85_left_finger_tip_link">
    <selfCollide>false</selfCollide>
  </gazebo>
  <gazebo reference="$(arg tf_prefix)robotiq_85_right_finger_tip_link">
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="world">
  </gazebo>
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg simulation_controllers)</parameters>
      <!-- 0.02 gives target_vel ~8 rad/s for 0.8 rad error; 1.0 produced 400 rad/s (joint limit) -->
      <position_proportional_gain>0.02</position_proportional_gain>
      <ros>
        <namespace>$(arg ros_namespace)</namespace>
      </ros>
    </plugin>
  </gazebo>

  <xacro:ur_ros2_control
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    use_gripper="true"
  />
</robot>
