<?xml version="1.0"?>
<model>
  <name>Table</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>ur_simulation_gz</name>
  </author>
  <description>
    Static lab table: visual meshes/stainless_steel_table.stl (CAD); collision is a single tabletop box only.
  </description>
</model>
